<div class="all-products">
  <app-product-filter
    [brandList]="brandList"
    [selectedBrands]="selectedBrands"
    [categoryList]="categoryList"
    [selectedCategories]="selectedCategories"
    [minPriceDiscount]="minPrice"
    [maxPriceDiscount]="maxPrice"
    [selectedMinPriceDiscount]="selectedMinPrice"
    [selectedMaxPriceDiscount]="selectedMaxPrice"
    [showPriceRange]="showPriceRange"
    (filterChange)="onFilterChange($event)"
    (resetAll)="onResetAllFilters()"
  ></app-product-filter>

  <main class="all-products__main responsive-main">
    <div class="all-products__header responsive-header">
      <span class="all-products__count">Tổng số sản phẩm: {{ products.length }}</span>
      <select class="all-products__sort responsive-sort" (change)="onSortChange($event)">
        <option value="createdAtDesc">Ngày thêm mới nhất</option>
        <option value="createdAtAsc">Ngày thêm cũ nhất</option>
        <option value="priceAsc">Giá: từ thấp -> cao</option>
        <option value="priceDesc">Giá: từ cao -> thấp</option>
      </select>
    </div>

    <app-product-list
      [productList]="products"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [length]="totalProducts"
      (pageChange)="onPageChange($event)">
    </app-product-list>
  </main>
</div>
