

<section class="carousel">
  <ng-container *ngIf="imagesDataInput.length > 0" >
    <div class='carousel__image' #slider #autoplay>
      <img class='carousel__image-item' *ngFor="let image of imagesDataInput; let idx = index"
        [src]="image.imageSrc" [alt]="image.imageAlt" width="959" height="400" decoding="sync" loading="eager">
    </div>

    <div *ngIf="indicators" class="carousel__dots">
      <span *ngFor="let image of imagesDataInput; let idx = index" class="dot"
        [ngClass]="{'dot-active': selectedIndex === idx}" (click)="selectImage(idx)"></span>
    </div>

    <div class='carousel__nav'>
      <button class='carousel__nav-prev' aria-label="prev" name="arrow-back-outline" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()" (click)="onPrevClick()">
        <i class="fa-regular fa-circle-left"></i>
      </button>

      <button class='carousel__nav-next' aria-label="next" name="arrow-forward-outline" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()" (click)="onNextClick()">
        <i class="fa-regular fa-circle-right"></i>
      </button>
    </div>
  </ng-container>
</section>

