<section class="sales-commitment">
  <div class="sales-commitment-container">
    <span class="sales-commitment-title">Dịch Vụ Bán Hàng</span>

  </div>

  <div class="sales-commitment__container" data-aos="fade-up" data-aos-duration="1200">
    <div class="sales-commitment__container-item">
      <div class="sales-commitment-icon">
        <i class="fa-solid fa-user-shield"></i>
      </div>

      <div class="sales-commitment-desc">
        <p>Mua Hàng An Toàn</p>
        <p>Đổi trả sản phẩm trong vòng 7 ngày, bất kể lỗi gì</p>
      </div>
    </div>

    <div class="sales-commitment__container-item">
      <div class="sales-commitment-icon">
        <i class="fa-solid fa-truck-fast"></i>
      </div>

      <div class="sales-commitment-desc">
        <p>Miễn Phí Vận Chuyển</p>
        <p>Áp dụng cho đơn hàng từ <strong>2</strong> triệu, khu vực nội thành Tp.HCM</p>
      </div>
    </div>

    <div class="sales-commitment__container-item">
      <div class="sales-commitment-icon">
        <i class="fa-regular fa-handshake"></i>
      </div>

      <div class="sales-commitment-desc">
        <p>Bảo Hành Lâu Dài</p>
        <p>Bảo hành 12 tháng cho tất cả sản phẩm được bán ra</p>
      </div>
    </div>

    <div class="sales-commitment__container-item">
      <div class="sales-commitment-icon">
        <i class="fa-solid fa-headphones"></i>
      </div>

      <div class="sales-commitment-desc">
        <p>Hỗ trợ 24/7</p>
        <p>Tư vấn và hỗ trợ khách hàng trong quá trình sử dụng</p>
      </div>
    </div>
  </div>
</section>
