<section class="cart">
  <div class="cart-container">
    <div class="cart-back-to-home">
      <button (click)="onBackToHome()">
        <i class="fa-solid fa-arrow-left-long"></i>
        <span>Tiếp tục mua sắm</span>
      </button>
    </div>

    <div class="cart-products">
      <div class="cart-products-title">
        <div class="cart-products-title-left">
          <span>Giỏ hàng của bạn</span>
        </div>

        <div class="cart-products-title-right">
          <button (click)="clearCartItems()">Xóa giỏ hàng</button>
        </div>
      </div>

      <div class="cart-products-content" *ngIf="!isEmptyCart">
        <table mat-table [dataSource]="cartDataSource" class="mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <!-- <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> Thứ tự </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container> -->

          <!-- product Column -->
          <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef>Sản Phẩm</th>
            <td mat-cell *matCellDef="let element">
              <div class="cart-products-item-product">
                <img [src]="element.product.imageSrc" alt="" />
                <span> {{ element.product.productName }} </span>
              </div>
            </td>
          </ng-container>

          <!-- price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Đơn Giá</th>
            <td mat-cell *matCellDef="let element">
              {{
                element.product.productDefaultPrice | currency : "VND" : true
              }}
            </td>
          </ng-container>

          <!-- quantity Column -->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Số Lượng</th>
            <td mat-cell *matCellDef="let element; let idx = index">
              <input
                mode="decimal"
                type="number"
                min="1"
                max="99"
                [value]="element.quantity"
                (keydown)="onValidateKeydown($event)"
                (blur)="onValidateBlur($event, element)"
                (keyup)="onSelectedQuantity($event)"
                (input)="updateCartItemQuantity($event, element, idx)"
              />
            </td>
          </ng-container>

          <!-- total Column -->
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Thành Tiền</th>
            <td mat-cell *matCellDef="let element; let idx = index">
              <span class="cart-products-item-total">
                {{ getTotalPriceItem(idx) | currency : "VND" : true }}
              </span>
            </td>
          </ng-container>

          <!-- action -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Thao Tác</th>
            <td mat-cell *matCellDef="let element">
              <button
                class="cart-products-item-delete"
                (click)="deleteCartItem(element)"
              >
                <i class="fa-regular fa-trash-can"></i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row [hidden]="isEmptyCart" *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>

  <lib-toastify-toast-container
    [position]="'top-right'"
  ></lib-toastify-toast-container>
</section>
