<section class="search ">
  <div class="search__container" [class.has-products]="products && products.length > 0">
    <!-- Title -->
    <div class="search__container-title">
      <span>Nhập vào sản phẩm cần tìm</span>
    </div>

    <!-- Input -->
    <div class="search__container-input">
      <input type="text" [placeholder]="textElement" [formControl]="searchControl" class="search__input" />
    </div>

    <!-- Not found -->
    @if (notFound) {
    <div class="search__container-not-found">
      <p class="search__not-found">Không tìm thấy sản phẩm phù hợp!</p>
    </div>
    }

    <!-- Product list -->
    @if (products && products.length > 0) {
    <div class="search__container-result">
      <cdk-virtual-scroll-viewport itemSize="80" class="search__product-list" [style.height]="viewportHeight">
        <div *cdkVirtualFor="let product of products; trackBy: trackByProductName" class="product-item" (click)="goToProductDetailPage(product)">
          <img class="product-item__image" [src]="product.image" [alt]="product.name" />
          <div class="product-item__info">
            <h3 class="product-item__name">{{ product.name }}</h3>
            <p class="product-item__price">{{ product.price }}</p>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
    }

  </div>
</section>
