<div class="mobile__category animate__animated animate__fadeInUp">
  <div class="mobile__category-container">
    <h3>Danh mục nhạc cụ</h3>

    <ul class="mobile__category-parent-list">
      <li class="mobile__category-parent-item" *ngFor="let parentCategory of categoryData"
        (click)="onSelectedParent(parentCategory.parentName)"
        [ngClass]="{ active: isActive(parentCategory.parentName) }">

        <div class="mobile__category-parent-item-content">
          <img [src]="'../../../../assets/image/icons/' + parentCategory.icon + '.png'" alt="">
          <span>{{ parentCategory.parentName }} </span>

          <ng-container *ngIf="!isActive(parentCategory.parentName); else active">
            <i class="fa-solid fa-chevron-right"></i>
          </ng-container>

          <ng-template #active>
            <i class="fa-solid fa-chevron-down"></i>
          </ng-template>
        </div>

        <ul class="mobile__category-children-list">
          <li class="mobile__category-children-item" *ngFor="let child of parentCategory.childCategory"
            (click)="onSelectedChildren(child.brandName)" [ngClass]="{ active: isActive(child.brandName) }">
            <span>{{ child.brandName }}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>