@use 'styles' as *;

.service-process {
  position: relative;
  padding: 0.4rem 0;
  width: 100%;

  &-container {
    @include flex-center;
    flex-direction: column;

    .service-process-title {
      @include flex-center;

      font-size: 2.4rem;
      font-weight: 600;
      text-transform: capitalize;
      border-bottom: 1px solid #ccc;
      width: 800px;
      padding: 1.6rem 0.4rem 0.4rem;

      &::after {
        content: '';
        width: 220px;
        height: 1.2px;
        background-color: #d91605;
        position: absolute;
        left: 50%;
        // bottom: -3px;
        margin-top: 44px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }

    .service-process-image {
      padding: 1.6rem 0;
      width: 100%;
      @include flex-center;

      img {
        max-width: 1100px;
        height: auto;
      }
    }
  }
}

// Mobile < 740px
@media only screen and (max-width: 740px) {
 .service-process {
  .service-process-title {
    width: 350px;
    padding: 0.4rem;
  }
  .service-process-image {
    img {
      min-width: 340px;
      padding: 0 0.4rem;
    }
  }
 }
}
