@import "./../../../../styles.scss";

.hero {
  @include flex-center;
  width: 100%;
  // padding: 0 12rem;
  margin-top: 8rem;
  height: 36rem;

  &__category {
    // height: 36rem;
    width: 20%;
  }

  &__carousel {
    // height: 36rem;
    width: 80%;
    padding: 0 1rem;
  }

  hr {
    border: 0.1px solid #ccc;
    height: 34rem;
    // width: 1rem;
  }
}

.hero:hover {
  // background-color: #ccc;
}
