<section class="home">
  <app-hero></app-hero>

  <app-swiper></app-swiper>

  <app-sale-products></app-sale-products>

  <!-- bỏ: <app-latest-products></app-latest-products> -->

  <app-category-brand></app-category-brand>

  <app-products-type></app-products-type>

  <app-accessories-type></app-accessories-type>

  <app-sales-commitment></app-sales-commitment>

  <!-- Dịch Vụ Bán Hàng -->
  <app-service-sales></app-service-sales>

  <app-service-process></app-service-process>


  <app-go-to-top></app-go-to-top>
</section>
