<section class="sale-products">
    <div class="sale-products-title">
        <span>SẢN PHẨM KHUYẾN MÃI</span>
    </div>

    <div class="sale-products-content">
        <!-- <owl-carousel-o [options]="customOptions" #owlCar>
            <ng-container *ngFor="let productItem of saleProducts">
                <ng-template carouselSlide [id]="productItem.id.toString()">
                    <div class="sale-products-item" >
                        <div class="sale-products-item-image">
                            <img [src]="productItem.imageSrc" [alt]="productItem.imageAlt">
                        </div>
                        <div class="sale-products-item-name">
                            <span>{{ productItem.productName }}</span>
                        </div>

                        <div class="sale-products-item-detail">
                            <button>
                                <i class="fa-regular fa-eye"></i>
                            </button>
                        </div>

                        <div class="sale-products-item-price-content">
                            <div class="sale-products-item-price">
                                <div class="sale-price">
                                    <span>{{productItem.productDefaultPrice}}đ</span>
                                </div>
                                <div class="default-price">
                                    <span>{{productItem.productSalePrice}}đ</span>
                                    <img src="../../../../../assets/image/gif/fire.gif" alt="">
                                </div>
                            </div>

                            <div class="sale-products-item-addCart">
                                <button><i class="fa-solid fa-cart-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o> -->
        <app-product-item [productList]="saleProducts" (newItemEvent)="outputEvent($event)" #owlCar></app-product-item>

        <div class="button-area">
            <!-- <button type="button" class="prev" (mouseover)="owlCar.stopAutoplay()" (mouseleave)="owlCar.startAutoplay()"
                (click)="owlCar.prev()">
                <i class="fa-regular fa-circle-left"></i>
            </button>
            <button type="button" class="next" (mouseover)="owlCar.stopAutoplay()" (mouseleave)="owlCar.startAutoplay()"
                (click)="owlCar.next()">
                <i class="fa-regular fa-circle-right"></i>
            </button> -->
            <button type="button" class="prev" (mouseover)="stopAutoplay()" (mouseleave)="startAutoplay()" (click)="onPrev()">
                <i class="fa-regular fa-circle-left"></i>
            </button>
        </div>

        <div class="sale-products-time">
            <div class="sale-products-time-left">
                <span>Kết thúc sau:</span>
            </div>
            <div class="sale-products-time-day">
                <p>Ngày</p>
                <p>{{days}}</p>
            </div>
            <div class="sale-products-time-hour">
                <p>Giờ</p>
                <p>{{hours}}</p>
            </div>
            <div class="sale-products-time-minute">
                <p>Phút</p>
                <p>{{minutes}}</p>
            </div>
            <div class="sale-products-time-second">
                <p>Giây</p>
                <p>{{seconds}}</p>
            </div>
        </div>
    </div>
</section>