<section class="sale-products">
    <div class="sale-products-title">
        <span>SẢN PHẨM KHUYẾN MÃI</span>
    </div>

    <div class="sale-products-content">
        <!-- Re-used Product Item -->
        <app-product-item [productList]="saleProducts" (newItemEvent)="outputEvent($event)" #owlCar></app-product-item>

        <!-- Product Flash Sale -->
        <div class="sale-products-time">
            <div class="sale-products-time-left">
                <span>Kết thúc sau:</span>
            </div>
            <div class="sale-products-time-day">
                <p>Ngày</p>
                <p>{{days}}</p>
            </div>
            <div class="sale-products-time-hour">
                <p>Giờ</p>
                <p>{{hours}}</p>
            </div>
            <div class="sale-products-time-minute">
                <p>Phút</p>
                <p>{{minutes}}</p>
            </div>
            <div class="sale-products-time-second">
                <p>Giây</p>
                <p>{{seconds}}</p>
            </div>
        </div>

        <!-- Button Prev / Next -->
        <div class="button-area">
            <button type="button" class="prev" (mouseover)="stopAutoplay()" (mouseleave)="startAutoplay()"
                (click)="onPrev()">
                <i class="fa-regular fa-circle-left"></i>
            </button>

            <button type="button" class="next" (mouseover)="stopAutoplay()" (mouseleave)="startAutoplay()"
                (click)="onNext()">
                <i class="fa-regular fa-circle-right"></i>
            </button>
        </div>
    </div>
</section>