@import "../../../../styles.scss";

.sale-products {
    padding: 0.4rem 0;

    &-title {
        @include flex-center;

        span {
            @include flex-center;

            font-size: 2.4rem;
            font-weight: 600;
            text-transform: capitalize;
            border-bottom: 1px solid #ccc;
            width: 800px;
            padding: 1.6rem 0.4rem 0.4rem;

            &::after {
                content: "";
                width: 220px;
                height: 1.2px;
                background-color: #d91605;
                position: absolute;
                left: 50%;
                // bottom: -3px;
                margin-top: 36px;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }
        }
    }

    &-time {
        top: 4%;
        position: absolute;
        display: flex;
        align-items: center;

        &-left {
            color: #d91605;
            font-weight: bold;
            margin-right: 0.4rem;
        }

        &-day,
        &-hour,
        &-minute,
        &-second {
            background-color: #393737;
            color: #fff;
            margin: 0 0.4rem;
            padding: 0.2rem 0.4rem;
            border-radius: 0.4rem;
            // border: 1px solid tan;
            text-align: center;
            font-size: 1.6rem;
            width: 56px;

            &::after {
                content: "";
                height: 0.1rem;
                top: 2.4rem;
                background: #e3e3e3;
                position: absolute;
                width: 12%;
                // left: 50%;
                transform: translateX(-50%);
            }

            p:nth-child(1) {
                font-size: 1.3rem;
            }

            p:nth-child(2) {
                font-weight: 500;
            }

            p {
                margin-top: 0.4rem;
            }
        }
    }

    &-content {
        padding: 7.8rem 0 0.8rem;
        position: relative;

        // .sale-products-list {
        //     position: relative;
        //     width: 100%;
        //   @include flex-space-between;

        //     li:nth-child(n + 6) {
        //         display: none; // > 5
        //     }
        // }

        .prev {
            right: 3.3%;
        }

        .next {
            right: 0%;
        }

        .prev,
        .next {
            position: absolute;
            top: 8%;

            // transform: translate(-50%, -50%);
            border: none;
            font-size: 3.2rem;
            background-color: transparent;
            opacity: 0.6;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;

                opacity: 1;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

// Responsive
@media only screen and (min-width: 1024px) and (max-width: 1700px) {
    .sale-products-item {
        width: 238px;
        margin: 0 auto;
    }
}

// Mobile < 768px
@media only screen and (max-width: 768px) {
    .sale-products {
        &-title {
            span {
                width: 350px;
                padding: 0.4rem;
            }
        }

        &-content {
            margin-top: 0.4rem;
            padding: 7rem 0 0.8rem;

            .sale-products-time {
                // @include flex-center;
                &-left {
                    margin-left: 0.4rem;
                    width: 6.2 rem;
                    font-size: 1.5rem;
                }
            }

            .button-area {
                .prev,
                .next {
                    top: 4%;
                    font-size: 3.6rem;
                }

                .prev {
                    right: 5.6rem;
                }

                .next {
                    right: 1.2rem;
                }
            }
        }

        &-time {
            &-day,
            &-hour,
            &-minute,
            &-second {
                padding: 0;
                margin: 0 0.2rem;
                width: 4rem;
                &::after {
                    top: 2.2rem;
                }
            }
        }
    }
}
