.category__hero {
    height: 44rem; // default 46rem

    // &-container {
    //     // padding: 0.4rem;
    // }

    background: #ffff;
    border-radius: 0.2rem;
    // border: 1px solid #ffff;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.hero__category-parent-list {
    cursor: pointer;
    z-index: 10000;

    .hero__category-parent-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.5px solid #ccc;
        padding: 0.8rem 0.6rem;
        // margin: 0.6rem 0;

        &-image {
        }

        > div {
            display: flex;
            align-items: center;
        }

        img {
            width: 2.2rem;
            height: 2.2rem;
        }

        span {
            margin-left: 0.4rem;
            font-size: 1.5rem;
        }

        i {
            &:last-child {
                display: none;
            }
        }
    }

    &:hover {
        // color: #f5f5f5;
        // background-color: #dc2f2f;
        background-color: #f7d8d8;

        .hero__category-parent-item {
            svg {
                fill: white;
            }

            img {
                // background-color: white;
                filter: brightness(50%) sepia(100) saturate(100) hue-rotate(25deg);
            }

            i {
                &:last-child {
                    display: block;
                }
            }

            .hero__category-children-list {
                display: block;
                z-index: 101;
                // z-index: 10;
    
                background-color: transparent;
                // width: 1057px;
                width: 500px;
                height: 44rem; // default 46rem
                position: absolute;
                top: 90px;
                // left: 622px;
                left: 30.41%;
            }
    
            .hero__category-children-item {
                // background-color: #ccc;
                // margin-left: 12px;
            }
    
            .overlay {
                display: block;
            }
        }

      
    }
}

.overlay {
    position: absolute;
    background-color: #ccc;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}

.hero__category-children-list {
    display: none;
    color: #141010;

    span:hover {
        color: #dc2f2f;
    }
}

// .submenu {
//   position: absolute;
//   width: 59.79%;
//   height: 100px;
//   background-color: red;
//   left: 27.69%;
//   z-index: 11111;
// }

.test {
    background-color: #ffff;
    margin-left: 12px;
    padding: 1.2rem;
    height: 44rem; // default 46rem
    border: 1px solid #ccc;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

@media only screen and (max-width: 1700px) {
    .hero__category-parent-list:hover {
        .hero__category-children-list {
            left: 27%;
        }
    }
}
