<div class="category__hero">
    <ul class="hero__category-parent-list" >
        <li *ngFor="let parentCategory of categoryData" class="hero__category-parent-item">
            <div class="hero__category-parent-item-left">
                <img class="hero__category-parent-item-image"
                    [src]="'../../../../assets/image/icons/' + parentCategory.icon + '.png'" alt="">
                <span class="hero__category-parent-item-name">{{parentCategory.parentName}}</span>
            </div>

            <div class="hero__category-parent-item-right">
                <i class="fa-solid fa-chevron-right"></i>
            </div>

            <ul class="hero__category-children-list">
                <li class="hero__category-children-item" *ngFor="let childItem of parentCategory.childCategory">
                    <span>{{childItem.brandName}}</span>
                </li>
            </ul>
        </li>
    </ul>
</div>