@import "../../../../styles.scss";

.search {

    &.animate__animated .animate__fadeInUp {
        display: none;
    }

    &__container {
        &-title {
            display: none;
        }

        &-input {
            input {
                border: 1px solid #ccc;
                padding: 0.4rem 0.8rem;
                border-radius: 0.4rem;
                width: 28rem;
                height: 3rem;
                font-size: 1.5rem;
            }
        }
    }
}

// Mobile <768px
@media only screen and (max-width: 768px) {
    .search {
        position: fixed;
        z-index: 6;
        width: 100%;
        top: 0;
        bottom: 4.4rem;
        left: 0;
        overflow: auto;

        background: rgba(255, 255, 255, 0.72);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.5px);
        -webkit-backdrop-filter: blur(9.3px);

        &__container {
            @include flex-center;
            flex-direction: column;
            height: 100%;
            width: 100%;

            &-title {
                display: block;
                margin-bottom: 2.8rem;
                font-size: 2rem;
            }

            &-input {
                width: auto;

                input {
                    background-color: transparent;
                    outline: none;
                    border: none;
                    border-bottom: 2px solid #141010;
                    text-align: center;
                    color: #141010;
                    font-size: 1.6rem;
                }
            }
        }
    }
}
