@use 'styles' as *;

.mobile-navigate {
  position: fixed;
  z-index: 6;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;

  .mobile-navigate-container {
    @include flex-space-between;
    height: 4.4rem;
    background-color: #141010;
    overflow: hidden;

    .mobile-navigate-item {
      @include flex-center;
      flex: 1; // 👈 Fix khoảng cách khi resize
      flex-direction: column;
      height: 4.4rem;
      background-color: #141010;
      border-top: 1px solid #fff;
      border-right: .5px solid #fff;
      border-left: .5px solid #fff;
      color: #fff;

      i {
        margin: 0.6rem 0 0.2rem;
      }

      span {
        font-size: 1.3rem;
      }
    }
  }
}
