@use 'styles' as *;


.accessories-type {
  position: relative;

    padding: 0.4rem 0;
    width: 100%;

    &-title {
        @include flex-center;
        flex-direction: column;

        span {
            @include flex-center;

            font-size: 2.4rem;
            font-weight: 600;
            text-transform: capitalize;
            border-bottom: 1px solid #ccc;
            width: 800px;
            padding: 1.6rem 0.4rem 0.4rem;

            &::after {
                content: "";
                width: 220px;
                height: 1.2px;
                background-color: #d91605;
                position: absolute;
                left: 50%;
                // bottom: -3px;
                margin-top: 44px;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }
        }
    }

    &-content {
        padding: 1.6rem 0;
        position: relative;
        height: 44rem;

        &-type {
            padding: 0.4rem 0;
            @include flex-center;

            .active {
                color: #d91605;
                font-weight: bold;
                border: 1px solid #d91605;
            }

            button {
                margin: 0 0.4rem;
                padding: 1rem 1.6rem;
                border-radius: 0.8rem;
                border: 1px solid #b1b1b1;
                background-color: #fff;
                transition: all 0.2s ease-in-out;
                font-size: 1.6rem;

                &:hover {
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    background-color: #d91605;
                    color: #fff;
                    border: 1px solid #d91605;
                }
            }
        }
    }
}

// Responsive
// Mobile < 740px
@media only screen and (max-width: 46.1875em) {
    .accessories-type {
        &-title {
            span {
                width: 350px;
                padding: 0.4rem;
            }
        }

        &-content {
            height: 42rem;
        }
    }
}
