@import "./../../../../styles.scss";
// @import "@app/app.component.scss";

.nav {
  position: fixed;
  z-index: 1999;
  width: 100%;
  // background: transparent;
  // backdrop-filter: blur(10px);

  &__container {
    .nav__top {
      background-color: #e3e3e3;
      height: 3rem;
      @include flex-center;
      font-size: 1.6rem;

      > span {
        color: #dc2f2f;
        // font-weight: 400;
      }

      div {
        margin: 0 1.2rem;

        a {
          color: #dc2f2f;
          font-weight: 500;
        }
      }
    }

    .nav__content {
      padding: 0 12rem;
      height: 5rem;
      background-color: #141010;
      box-shadow: 0 2px 4px #dce1e1;

      @include flex-center;

      &-wrapper {
        @include flex-space-around;
        width: 100%;
      }

      &-list {
        @include flex-center;
      }

      &-item {
        margin: 0 1.4rem;

        img {
          width: 20px;

          color: #e3e3e3
        }
      }
    }
  }

  .nav__content-button {
    @include flex-center;
    cursor: pointer;
    border: none;
    font-size: 1.8rem;
    background-color: #141010;
    padding: 1rem;
    // border: 0.1rem solid;
    opacity: 0.9;
    transition: all .5s ease-in-out;

    a {
      color: #e3e3e3;
    }
    &::after {
      content: "";
      bottom: 0.4rem;
      height: 0.2rem;
      position: absolute;
      background: #e3e3e3;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
      // display: block;
      // left: 50%;
      // background: none repeat scroll 0 0 transparent;
    }

    &:hover {
      opacity: 1;
      transition: all .5s ease-in-out;


      &::after {
        width: 8rem;
      }
    }

    span {
      // @include flex-center;
      color: #f5f5f5;
    }
  }
}
