@import "./../../../../styles.scss";
// @import "@app/app.component.scss";

.nav {
  position: fixed;
  z-index: 1999;
  width: 100%;
  // background: transparent;
  // backdrop-filter: blur(10px);

  &__container {
    .nav__top {
      background-color: black;
      height: 3.5rem;
      @include flex-center;

      > span {
        color: white;
        font-size: 1.3rem;
      }
    }

    .nav__content {
      padding: 0 12rem;
      height: 4.5rem;
      background-color: #f5f5f5;
      box-shadow: 0 2px 4px #dce1e1;

      @include flex-center;

      &-wrapper {
        @include flex-space-around;
        width: 100%;
      }

      &-list {
        @include flex-center;
      }

      &-item {
        margin: 0 1.4rem;

        img {
          width: 20px;
        }
      }
    }
  }

  .nav__content-button {
    @include flex-center;
    cursor: pointer;
    border: none;
    font-size: 1.8rem;
    background-color: #f5f5f5;
    padding: 1rem;
    // border: 0.1rem solid;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    span {
      @include flex-center;
    }
  }
}

.glowing-animation::before {
  // content: '';
  // position: absolute;
  // left: 0;
  // top: 0;
  // width: 50%;
  // height: 100%;
  // -webkit-box-shadow: 0
}