<header>
    <nav class="nav">
        <div class="nav__container">
            <div class="nav__top">
                <span
                    >Hi there! Nice to see you. We have a 15% promo code for new customers! Would you like to get yours now?.</span
                >
            </div>

            <div class="nav__content">
                <div class="nav__content-wrapper">
                    <div class="nav__content-left">
                        <div class="nav__content-logo">
                            <button class="nav__content-button">
                                <span>Lereste</span>
                            </button>
                        </div>
                    </div>

                    <div class="nav__content-mid">
                        <ul class="nav__content-list">
                            <li class="nav__content-item">
                                <button class="nav__content-button">
                                    <span>Home</span>
                                </button>
                            </li>
                            <li class="nav__content-item">
                                <button class="nav__content-button">
                                    <span>About</span>
                                </button>
                            </li>
                            <li class="nav__content-item">
                                <button class="nav__content-button">
                                    <span>Contact</span>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="nav__content-right">
                        <ul class="nav__content-list">
                            <li class="nav__content-item">
                                <app-search></app-search>
                            </li>
                            <li class="nav__content-item">
                                <button class="nav__content-button">
                                    <!-- <img
                                        src="../../../../assets/image/icons/phone.png"
                                        alt=""
                                    /> -->
                                    <a href="tel:19001009">1900.1009</a>
                                </button>
                            </li>
                            <li class="nav__content-item">
                                <button class="nav__content-button">
                                    <!-- <img
                                        src="../../../../assets/image/cart.png"
                                        alt=""
                                    /> -->
                                    <span>Cart</span>
                                </button>
                            </li>
                            <li class="nav__content-item">
                                <button class="nav__content-button">
                                    <span>Login</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
