<header>
    <nav class="nav">
        <div class="nav__container">
            <div class="nav__top">
                <div class="nav__top-content">
                    <span class="nav__top-content-pc">Miễn phí vận chuyển với đơn hàng từ <strong>2 triệu</strong>. Áp
                        dụng cho khu vực nội thành HCM.</span>
                    <!-- <span class="nav__top-ship-mobile">Miễn phí vận chuyển với đơn hàng từ <strong>2 triệu</strong>.</span> -->

                    <button class="nav__top-content-mobile" (click)="goToHome()">
                        <span>Logo Shop</span>
                    </button>
                </div>

                <div class="nav__top-phone">
                    <a href="tel:01234.56789">
                        <i class="fa-solid fa-phone"></i>
                        <span>01234.56789</span>
                    </a>
                </div>
            </div>

            <div class="nav__content">
                <div class="nav__content-wrapper">
                    <div class="nav__content-left">
                        <div class="nav__content-logo">
                            <button class="nav__content-button" (click)="goToHome()">
                                <span>Logo</span>
                            </button>
                        </div>
                    </div>

                    <div class="nav__content-mid">
                        <ul class="nav__content-list">
                            <li class="nav__content-item">
                                <button class="nav__content-button" (click)="goToHome()">
                                    <span>Trang Chủ</span>
                                </button>
                            </li>
                            <li class="nav__content-item">
                                <button class="nav__content-button">
                                    <span>Sản Phẩm</span>
                                </button>
                            </li>
                            <li class="nav__content-item">
                                <button class="nav__content-button">
                                    <span>Bài Viết</span>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="nav__content-right">
                        <ul class="nav__content-list">
                            <li class="nav__content-item search">
                                <app-search></app-search>
                            </li>
                            <li class="nav__content-item contact">
                                <button class="nav__content-button " (click)="goToContact()">
                                    <!-- <img
                                        src="../../../../assets/image/icons/phone.png"
                                        alt=""
                                    /> -->
                                    <span>Liên Hệ</span>
                                </button>
                            </li>
                            <li class="nav__content-item cart">
                                <button class="nav__content-button">
                                    <!-- <img
                                        src="../../../../assets/image/cart.png"
                                        alt=""
                                    /> -->
                                    <span>Giỏ Hàng</span>
                                </button>
                            </li>
                            <!-- <li class="nav__content-item">
                                <button class="nav__content-button" (click)="goToLogin()">
                                    <span>Đăng Nhập</span>
                                </button>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>