@use 'styles' as *;


.quick-contacts {
  top: 12rem;
  position: fixed;
  // @include flex-center;
  width: 9%;
  right: 4.5%;
  z-index: 1;

  .ads {
    img {
      width: 100%;
      height: 50rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    padding-bottom: 1.2rem;
  }

  .quick-contacts-container {
    margin: 2rem 0;

    margin-top: 56rem; // Css tạm thời, sẽ xoá sau khi mở thẻ img đã cmt ra

    .phone,
    .messenger,
    .zalo {
      display: flex;
      align-items: center;
      padding: 0.2rem 0;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 0.4rem;
      margin: 0.8rem 0;
      transition: all 0.3s ease-in-out;
      background-color: #fff;

      &:hover {
        background-color: #f5f5f5;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        color: #dc2f2f;
      }

      img {
        width: 3rem;
        margin: 0 0.4rem 0 0.2rem;
      }
    }

    span {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .quick-contacts {
    max-width: 9%;
    right: 1.5625%;
  }
}
