@import '../../../../styles.scss';

.facility {
  position: relative;
  padding: 0.4rem 0;
  width: 100%;

  &-top {
    @include flex-center;
    flex-direction: column;

    &-heading {
      @include flex-center;

      font-size: 2.4rem;
      font-weight: 600;
      text-transform: capitalize;
      border-bottom: 1px solid #ccc;
      width: 800px;
      padding: 1.6rem 0.4rem 0.4rem;

      &::after {
        content: '';
        width: 220px;
        height: 1.2px;
        background-color: #d91605;
        position: absolute;
        left: 50%;
        // bottom: -3px;
        margin-top: 44px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }

    &-title {
      padding: 1.6rem 0;

      font-size: 3rem;
      font-weight: bold;
      color: #fff;
      background: linear-gradient(90deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);
      background-size: 300%;
      background-position: left;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: text-bg-animation 10s infinite;
    }

    &-desc {
      text-align: center;
      font-size: 1.6rem;
      padding: 0 12rem;
      color: #141010;
    }
  }

  @keyframes text-bg-animation {
    0% {
      background-position: 0% 87%;
    }
    50% {
      background-position: 100% 14%;
    }
    100% {
      background-position: 0% 87%;
    }
  }

  &-middle {
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .facility-middle-item {
        @include flex-center;
        flex-direction: column;
        margin: 1.6rem 0;


        &-content {
          @include flex-center;
          flex-direction: column;


          img {
            width: 36rem;
            height: 36rem;
            padding: 1.2rem;
            // width: 32rem;
            object-fit: contain;
            // background: transparent;
          }
        }
      }
    }
  }

  &__container {
    padding: 3.2rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-item {
      // flex-basis: 200;
      width: 30rem;
      background-color: #fff;
      text-align: center;
      border-radius: 0.8rem;
      padding: 0.8rem;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

      .facility-icon {
        font-size: 3.2rem;
        transition: 1s;
        perspective: 4000;

        position: relative;
        display: inline-block;
        line-height: 8rem;
        width: 8rem;
        height: 8rem;
        border: 2px double #f5f5f5;
        border-radius: 50%;
        z-index: 1;
        margin: 0.4rem 0;

        &::before {
          content: '';
          position: absolute;
          display: inline-block;
          border-radius: 50%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: 0.7rem; /* viền ngoài */
          background-color: #f5f5f5;
          z-index: -1;

          // &:hover {
          //     background-color: red
          // }
        }

        &:hover {
          // transition: 1s;
          transform: rotateY(180deg);
          // line-height: 9.5rem;

          border: 1.5px double #d91605;
          color: white;

          &::before {
            background-color: #d91605;
          }
        }
      }

      .facility-desc {
        p:first-child {
          font-size: 1.8rem;
          font-weight: bold;
          margin: 0.8rem 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  .facility {
    &__container {
      &-item {
        width: 24rem;
      }
    }
  }
}

// Responsive
// Mobile < 740px
@media only screen and (max-width: 740px) {
  .facility {
    // &-title {
    //   span {
    //     width: 350px;
    //     padding: 0.4rem;
    //   }
    // }

    &-top {
      &-heading {
        width: 350px;
        padding: 0.4rem;
      }

      &-desc {
        text-align: center;
        font-size: 1.4rem;
        padding: 0 1.6rem;
        color: #141010;
      }
    }

    &-middle {
      &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .facility-middle-item {
          @include flex-center;
          flex-direction: column;
          padding: 0.8rem;
          text-align: center;

          &-content {
            // border-radius: 50%;
            // border: 1px solid #ccc;
            // width: 100%;

            width: 16rem;
            height: 16rem;
            font-size: 1.3rem;

            img {
            padding: 0.8rem;
            // width: 32rem;
              width: 18rem;
              object-fit: contain;
              // background: transparent;
            }
          }
        }
      }
    }

    &__container {
      justify-content: space-around;

      &-item {
        max-width: 17rem;
        margin: 0.8rem 0;
      }

      .facility-desc {
        p:first-child {
          font-size: 1.6rem;
          font-weight: bold;
          margin: 0.8rem 0;
        }

        p:last-child {
          font-size: 1.4rem;
        }
      }
    }
  }
}
