<section class="facility">
    <div class="facility-title">
        <span>Dịch Vụ</span>
    </div>

    <div class="facility__container" data-aos="fade-up" data-aos-duration="1200">
        <div class="facility__container-item">
            <div class="facility-icon">
                <i class="fa-solid fa-user-shield"></i>
            </div>

            <div class="facility-desc">
                <p>Mua Hàng An Toàn</p>
                <p>Luôn bảo mật thông tin khách hàng, thanh toán COD</p>
            </div>
        </div>

        <div class="facility__container-item">
            <div class="facility-icon">
                <i class="fa-solid fa-truck-fast"></i>
            </div>

            <div class="facility-desc">
                <p>Miễn Phí Vận Chuyển</p>
                <p>Áp dụng cho đơn hàng từ triệu, khu vực nội thành Tp.HCM</p>
            </div>
        </div>

        <div class="facility__container-item">
            <div class="facility-icon">
                <i class="fa-regular fa-handshake"></i>
            </div>

            <div class="facility-desc">
                <p>Bảo Hành Lâu Dài</p>
                <p>Áp dụng cho tất cả sản phẩm được bán ra</p>
            </div>
        </div>

        <div class="facility__container-item">
            <div class="facility-icon">
                <i class="fa-solid fa-headphones"></i>
            </div>

            <div class="facility-desc">
                <p>Hỗ trợ 24/7</p>
                <p>Luôn luôn hỗ trợ khi khách hàng gặp vấn đề</p>
            </div>
        </div>
    </div>
</section>