<section class="facility">
  <div class="facility-top">
    <span class="facility-top-heading">Dịch Vụ Sửa Chữa - Vệ Sinh</span>
    <span class="facility-top-desc"
      ><span class="shop-name">Điện lạnh Hoài Ân</span> chuyên cung cấp dịch vụ sửa chữa, bảo hành, bảo dưỡng thiết bị. Chúng tôi cam kết mang đến cho khách hàng sự dịch vụ của sự tận tâm, uy tín và chất lượng.</span
    >
  </div>

  <div class="facility-middle">
    <ul class="facility-middle-list">
      <li class="facility-middle-item" *ngFor="let item of repairService">
        <div class="facility-middle-item-content">
          <img  [src]="item.imageSrc" alt="" />
          <span class="facility-middle-item-title">{{ item.title }}</span>
        </div>
      </li>
    </ul>
  </div>
</section>
