<section class="footer">
    <div class="footer-information">
        <div class="footer-information-item">
            <div class="footer-information-support">
                <h4>Hỗ trợ khách hàng</h4>
                <li><span><strong>Hotline: </strong>1900.1009</span></li>
                <li><span><strong>Mua hàng: </strong>01234.123456</span></li>
                <li><span><strong>Bảo hành: </strong>01234.99999</span></li>
            </div>
        </div>

        <div class="footer-information-item">
            <div class="footer-information-about">
                <h4>Hướng dẫn mua hàng</h4>
                <li><span>Chính sách vận chuyển</span></li>
                <li><span>Chính sách bảo hành</span></li>
                <li><span>Chính sách đổi trả</span></li>
            </div>
        </div>

        <div class="footer-information-item">
            <div class="footer-information-payment">
                <h4>Thanh toán</h4>
                <li><span>Thanh toán qua chuyển khoản</span></li>
                <li><span>Thanh toán bằng tiền mặt</span></li>
                <li><span>Trả góp qua thẻ tín dụng</span></li>
            </div>
        </div>

        <div class="footer-information-item">
            <div class="footer-information-address">
                <h4>Cửa hàng</h4>
                <li>
                    <span><strong>Thời gian phục vụ: </strong>8:00 - 18:00 (từ Thứ 2 đến Chủ Nhật)</span>
                </li>

                <li>
                    <!-- <i class="fa-solid fa-map-location-dot"></i> -->
                    <span><strong>Địa chỉ: </strong>242 đường Phạm Văn Đồng, Thành phố Thủ Đức, Hồ Chí Minh.</span>
                </li>

                <li>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.786522850915!2d106.7188957761685!3d10.82764248932429!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175291a71519df7%3A0xcbeec0265c71c79f!2zVHJ1bmcgVMOibSBUaMawxqFuZyBN4bqhaSBHaWdhbWFsbC9TZW5zZSBDaXR5!5e0!3m2!1sen!2skr!4v1723104082742!5m2!1sen!2skr"
                        width="500" height="100" style="border: 1px;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </li>
            </div>
        </div>

        <div class="footer-information-item">
            <div class="footer-information-cert">
                <h4>Chứng nhận</h4>
                <li>
                    <img src="assets/image/footer/bocongthuong.png" alt="">
                </li>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <span>© 2024 bản quyền thuộc <strong>Nhạc cụ ABC</strong> được thiết kế và phát triển bởi <strong>Lereste</strong></span>
    </div>
</section>