.category__hero {
    height: 44rem; // default 46rem

    &-container {
        padding: 0.8rem;
    }

    background: #f5f5f5;
    border-radius: 0.4rem;
    border: 1px solid #ccc;
}

.hero__category-list {
    padding: 0.4rem;
    cursor: pointer;
}

.hero__category-list:hover {
    color: rgb(239, 99, 74);
    .hero__category-item {
        display: block;
        padding: 0.4rem;
        color: teal;
        margin-left: 1.2rem;
    }
}

.hero__category-item {
    display: none;
}

.hero__category-item:hover {
    background-color: #f5f5f5;
    min-width: 16rem;
}

// .submenu {
//   position: absolute;
//   width: 59.79%;
//   height: 100px;
//   background-color: red;
//   left: 27.69%;
//   z-index: 11111;
// }
