@import "../../../../styles.scss";

.mobile__category {
  position: fixed;
  z-index: 11;
  width: 100%;
  top: 0;
  bottom: 4rem;
  left: 0;
  overflow: auto;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.72);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.3px);

  &-container {
    h3 {
      margin: 0.8rem 0 1.2rem 0;
      color: #141010;
      font-size: 2rem;
      padding: 0.8rem;
    }

    .mobile__category-parent-list {
      padding: 0.8rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .mobile__category-parent-item {
        padding: 0.6rem;

        border-bottom: 1px solid #141010;
        width: 100%;
        text-align: left;

        &-content {
          display: flex;
          align-items: center;

          img {
            width: 2rem;
            height: 2rem;
          }

          span {
            color: #141010;
            display: flex;
            align-items: flex-end;
            margin: 0 0.4rem;
          }

          i.fa-chevron-right {
            font-size: 1.3rem;
          }
        }

        &.active .mobile__category-parent-item-content {
          font-weight: bold;
        }

        &.active .mobile__category-children-list {
          display: block;
        }

        .mobile__category-children-list {
          display: none;
          margin: 0.8rem 0;
          padding-left: 2rem;
          color: #141010;

          .mobile__category-children-item {
            padding: 0.3rem 0;
          }
        }
      }
    }
  }
}
