<section class="latest-products">
  <div class="latest-products-title">
    <span>Latest Products</span>
  </div>

  <section class="latest-products-content">
    <ul class="latest-products-list" *ngIf="images && images.length > 0" #slider #controlAutoPlay>
      <li class="latest-products-item" *ngFor="let image of images; let idx = index">
        <div class="latest-products-item-image">
          <img class="fade" [src]="image.imageSrc" [alt]="image.imageAlt"
            [ngClass]="{ 'image-active': selectedIndex === idx }" />
        </div>
        <div class="latest-products-item-productName">
          <span>{{ image.imageAlt }}</span>
        </div>

        <div class="latest-products-item-detailProduct">
          <button>
            <i class="fa-regular fa-eye"></i>
          </button>
        </div>

        <div class="latest-products-item-content">
          <div class="latest-products-item-price">
            <p class="sale-price">2.000.000 đ</p>
            <p class="default-price">1.000.000 đ</p>
          </div>

          <div class="latest-products-item-content-addCart">
            <button><i class="fa-solid fa-cart-plus"></i></button>
          </div>
        </div>
      </li>
    </ul>

    <div class="button-area">
      <button type="button" class="prev" (click)="onPrevClick()">
        <i class="fa-regular fa-circle-left"></i>
      </button>
      <button type="button" class="next" (click)="onNextClick()">
        <i class="fa-regular fa-circle-right"></i>
      </button>
    </div>
  </section>
</section>
